*, button {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    border: none;
}

html, body {
    height: 100vh;
}

body, button {
    font-family: 'Exo', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2A4669;
    padding: 20px;
}

.logo, a {
    color: white;
    font-size: 20px;
}

.logo {
    padding-left: 50px;
}

.right-links, h3 {
    font-size: 24px;
}

.right-links {
    display: flex;
    gap: 20px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.content {
    display: flex;
    flex: 1;
    background-color: black;
    position: relative;
}

.block-div {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
}

.activity, .game {
    padding: 10px;
    margin: 10px;
}

.score, .results-container {
    margin: 10px 0;
}

.activity {
    flex: 0 0 auto;
    width: 200px;
    background-color: #A2C2E9;
}

.results-container {
    border: 1px solid black;
    max-height: 100vh;
    overflow-y: auto;
}

.results {
    height: 400px;
    padding: 4px;
}

.results > p {
    margin: 10px 0;
}

h2, .score {
    text-align: center;
}

.score {
    font-size: 30px;
    font-weight: bold;
}

.game {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #495769;
}

.cards {
    display: flex;
    flex: 3;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* .card-pic {
    background-color: white;
    border: 3px solid black;
    width: 150px;
    height: 200px;
} */

.choices {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.choice, .choice-clone {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 6px;
    transition: .3s;
}

.choice:hover {
    transform: scale(1.2);
}

.resetBtn {
    font-size: 30px;
    font-weight: bold;
    width: 300px;
    height: 100px;
    border-radius: 6px;
    background-color: burlywood;
    box-shadow: 10px 10px;
    transition: .3s;
}

.resetBtn:hover {
    transform: scale(1.1);
}





/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.card-pic-human, .card-pic-cpu {
    background-color: transparent;
    width: 150px;
    height: 200px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .card-pic-human .flip-card-inner.flip,
  .card-pic-cpu .flip-card-inner.flip {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */

  .flip-card-front {
    background-color: black;
    border: 2px solid white;
    color: white;
    font-size: 60px;
    font-weight: bold;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: white;
    border: 2px solid black;
    color: black;
    transform: rotateY(180deg);
  }
